services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  ml-service:
    build: ../ml-service
    ports:
      - "5000:5000"
    depends_on:
      - kafka
      - redis
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
      KAFKA_TOPIC: analytics-events
      REDIS_HOST: redis
      REDIS_PORT: 6379

  api-gateway:
    build: ../api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - ml-service
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  producer:
    build: ../producer
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
      KAFKA_TOPIC: analytics-events
